<h1>Editando solicitação</h1>

<%= render "form", request: @request %>

<br>

<div>
  <%= link_to "Exibir solicitação", @request %> |
  <%= link_to "Voltar para solicitações", requests_path %>
</div>
